.landing {
  @include d-flex-row;
  justify-content: space-around;
  //background-color: blue;
  width: 80%;
  margin: 70px auto;

  .landing__image {
    margin: 0;
    width: 30%;
  }

  .landing__text {
    @include d-flex-col;
    justify-content: center;
    //background-color: green;
    text-align: center;
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    @include d-flex-col;

    .landing__image {
      margin: 10px auto;
      width: 70%;
      //background-color: yellow;
    }

    .landing__text {
      margin: 0 auto;
      max-width: 250px;
    }
  }
}
