header {
  margin: 0 auto;
  width: 90%;
  background-color: $secondary;
  @include d-flex-row;
  justify-content: space-between;

  h1 {
    margin: 5px 10px;
    a {
      margin: 0;
      color: $primary;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $secondary;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover {
      background-color: $muted;
    }
  }
}

@media screen and (max-width: 412px) {
  header {
    @include d-flex-col;
  }
}
