//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap");

/******************** Variables ********************/
$main-font: "Helvetica Nueue", sans-serif; //"Varela Round", sans-serif;

$base: #313131;
$primary: #ca3e47;
$secondary: #414141;
$muted: #525252;

$white: #f1f1f1;
